.hometodo__popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}
.popup__overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
.popup__window {
    width: 280px;
    height: 100px;
    margin-top: -90px;
    margin-left: -150px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
}
.popup__btn {
    padding: 5px;
    min-width: 70px;
    text-transform: uppercase;
    margin: 0 25px;
    cursor: pointer;
}
.popup__btn__remove-btn {
    background: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
    border-radius: 2px;
}
.popup__btn__remove-btn:hover {
    border: 2px solid #e80000;
    opacity: 0.8;
}